h1 = @title = 'Änderung abgelehnt/Formular ungültig'
p Ihre Formulareingabe konnte aus Sicherheitsgründen nicht bearbeitet werden. Dies kann u.a. auftreten, wenn Sie ein Formular mittels Zurück-Button wieder aufgerufen haben.
p Bitte probieren Sie es nach einem Seiten Reload erneut. Dies tut uns leid!

